@import "./reset.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
}

.navbar, .footer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 15%;

  background-color: #54BAB9;
}

.navbar .title, .footer .text {
  color: #FFFFFF;
}

.navbar .title {
  font-size: 3em;
}

.viewport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #9ED2C6;
  padding: 1.5rem;

  border-radius: 10px;
}

.button:hover {
  background-color: #54BAB9;
}